In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("tttresults.csv")

df.head()

   MOVE1 MOVE2 MOVE3 MOVE4 MOVE5 MOVE6 MOVE7 CLASS
0      0     8     1     3     ?     ?     ?  loss
1      4     7     2     6     ?     ?     ?   win
2      0     8     1     6     5     ?     ?  draw
3      4     7     2     3     ?     ?     ?  draw
4      0     4     2     1     ?     ?     ?   win

Mogelijkheid om alle negen zetten uit te tekenen creÃ«ren

In [5]:
df["MOVE8"] = df["MOVE1"]
df["MOVE8"] = "?"
df["MOVE9"] = df["MOVE8"]

df.head()

   MOVE1 MOVE2 MOVE3 MOVE4 MOVE5 MOVE6 MOVE7 CLASS MOVE8 MOVE9
0      0     8     1     3     ?     ?     ?  loss     ?     ?
1      4     7     2     6     ?     ?     ?   win     ?     ?
2      0     8     1     6     5     ?     ?  draw     ?     ?
3      4     7     2     3     ?     ?     ?  draw     ?     ?
4      0     4     2     1     ?     ?     ?   win     ?     ?

Omzetten van Class win=1 draw=0 loss=-1

In [6]:
df["CLASS"] = df["CLASS"].replace("loss",-1).replace("draw",0).replace("win",1)

df.head()

   MOVE1 MOVE2 MOVE3 MOVE4 MOVE5 MOVE6 MOVE7  CLASS MOVE8 MOVE9
0      0     8     1     3     ?     ?     ?     -1     ?     ?
1      4     7     2     6     ?     ?     ?      1     ?     ?
2      0     8     1     6     5     ?     ?      0     ?     ?
3      4     7     2     3     ?     ?     ?      0     ?     ?
4      0     4     2     1     ?     ?     ?      1     ?     ?

In [7]:
playfield = [[0,0,0]
             ,[0,0,0]
             ,[0,0,0]]

print(playfield[0])
print(playfield[1])
print(playfield[2])

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

test min from array

In [11]:
array = [[1,0,0,1],[0,-1,-1,0]]
array  = np.array(array).flatten()
print(array)
print(sum(array)/len(array))

print(min(array))

[ 1  0  0  1  0 -1 -1  0]
0.0
-1

Test string plus int

In [4]:
param1 = 3
result = "Dit is de python index " + str(param1)
print(result)

Dit is de python index 3